* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

body{
    background-position-x: center;
    
    background-color: #000000;
    background-size: 100%;
    background-image: url(./src/final_bg.jpg);
    background-repeat: no-repeat;
    position: absolute;
}

