* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

audio {
    opacity: 50%;
    margin-top: 10px;
         
}

.bt_vol{
    width: 120px;
    border-radius: 10px;
    opacity: 70%;
}

figure {
    width: 63px;
    color: white;

}

h1{
    color:  #ff0;
    margin-top: 50px;
    text-align: center; 
    text-transform:  capitalize;
    text-shadow: 5px 5px 10px  #0AD774;
           
}


body.blue {

    --card-title-border-collor: #338AF3;
    --card-color-primary: #338AF3;
    --card-bg-color: #3D3D3D;
    --bg: url(./src/bg-blue.svg)
    
}


ul {
    list-style: none;
}

body {
    background-color: #121214;
    background-image: var(--bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 30px;
    
}


#app {

    width: fit-content;
    margin: auto;
    padding-top: 52px;
}

header {
    margin-bottom: 63px;
    text-align: center;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}

.card {
    padding: 32px 23px;
    text-align: center;

    background: var(--card-bg-color);
    border-bottom: 2px solid var(--card-color-primary);
    border-radius: 6px;
}

.card h2 {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;

    padding: 8px 16px;
    border: 1px solid var(--card-title-border-collor);
    border-radius: 6px;

    width: fit-content;
    margin-inline: auto;
    margin-bottom: 53px;

    color: #F7DD43;
}

.card h3 {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    padding: 4px 8px;
    border: 1px solid var(--card-title-border-collor);
    border-radius: 6px;

    width: fit-content;
    margin-inline: auto;
    margin-bottom: 30px;

    color: #F7DD43;
}

.card h2 span {
    color: #E1E1E6;
    font-size: 14px;
    text-transform: uppercase;
}



.card ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: px;
}

.card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.card ul li+li {
    padding-top: 24px;
    border-top: 1px solid #323238;
}

.card ul li strong {

    font-weight: 900;
    font-size: 36px;
    line-height: 125%;

    text-align: center;
    color: #E1E1E6;

}

.card h2:hover,
.card h3:hover,
.card ul li strong:hover,
.card ul li img:hover {
    transform: scale(1.1);

}

.card h2,
.card h3,
.card ul li strong,
.card ul li img {
    transition: transform 0.3s;
}

.card {
    opacity: 0;
    animation: appear .2s forwards;
}

@keyframes appear {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 700px) {
    #cards {
        max-width: 1024px;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 260px;
        
    }
}

footer h4 {
    color: #F5F6F6;
    align-items: center;
    justify-content: center;
    display: flex;

    margin-inline: auto;
    margin-bottom: 8px;
    margin-top: 130px;
    padding: 7px 8px;

    background-color: var(--card-bg-color);
    border: 2px solid var(--card-title-border-collor);
    border-radius: 6px;
    font-size: 10px;
    text-decoration: double;
    letter-spacing: 3px;
    word-spacing: 5px;

}

a {
    color: #F5F6F6;
}
